.content_title--small {
	font-weight: bold;
	font-size: 24px;
}

.page__universal-two_cols--wrapper {
	padding: 0 75px;
}

.page__universal-two_cols--inner-wrapper .layout__col-half {
	max-width: 510px;
}

.layout__col-half {
	max-width: 585px;
	display: inline-block;
	width: 49%;
}

.layout__col-half.layout__col_half--second {
	float: right;
}


/*80-20*/

.layout__col {
	display: inline-block;
	vertical-align: top;
}

.layout__col--wide {
	max-width: 910px;
	width: 75%;
}

.layout__col--small {
	max-width: 265px;
	min-width: 250px;
	width: 20%;
	
}

.layout__col--second {
	float: right;
}

