.title__border-bottom {
	border-bottom: 1px dashed #94ca4c;
	padding-bottom: 15px;
	margin-bottom: 30px;
}


.universal-wrapper.content-block-wrapper {
	padding: 0;
}


.universal-wrapper.block-wrapper--light-grey {

	border: none;
	padding: 0;
}
.block-wrapper--light-grey {
	background-color: #d5d9dd; 
}

.universal-wrapper.block-wrapper--light-blue {
	background-color: rgba(0, 151, 214, 0.3);	
}

.universal-wrapper.content-block-wrapper > .universal-wrapper--inner {
}



article ul {
	padding-left: 35px;
}


/*4 cols property main*/

.universal_line-wrapper.four__cols a:hover {
	text-decoration: none;
}

.universal_line-wrapper.four__cols {
	text-align: left;
}



.universal__cell.four__cells,
.universal__cell.property {
	display: inline-block;
	vertical-align: top;
	width: 23.6%;   
	margin: 0 0.92% 3%;
	text-align: justify;
	min-width: 260px;
}

.universal__cell.property:first-child,
.universal_line-wrapper.three__cols .universal__cell:first-child {
	margin-left: 0;
}

.universal__cell.property:nth-child(4n+5) {
	margin-left: 0;
}

.universal__cell.property:nth-child(4n) {
	margin-right: 0;
}

.property__image {
	border-radius: 3px 3px 0 0;
	height: 180px;
	position: relative;
	background-color: #d5d9dd;
	background-image: url('../images/suburbun_no_photo.png');
	background-size: 70% 70%;
	background-position: center center;
	background-repeat: no-repeat;
}

.property__image i {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #fff;
	font-size: 25px;
	z-index: 35;
	transition: all 0.3s ease 0s;
}

.property__image i:hover {
	color: rgba(148, 202, 76, 0.8);
	cursor: pointer;
}

.property__image i:hover::after {
	content: 'Compare';
	background-color: rgba(148, 202, 76, 0.8);
	padding: 5px;
	color: #fff;
	font-size: 16px;
	position: absolute;
	top: 30px;
	right: 0px;
	border-radius: 3px;
	font-family: "PT Sans",sans-serif;
	font-weight: 800;
}




.property__image img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 3;
	border-radius: 3px 3px 0 0;
}


.property__info-line {
	background-color: rgba(0, 151, 214, 0.8);
	color: #fff;
	margin-top: -30px;
	padding: 0 10px;
	position: relative;
	z-index: 25;
}

.property__info-line p {
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.property__description ul {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 0 0 3px 3px;
}

.property__description ul > li {
	display: inline-block;
	list-style: none;
	font-size: 15px;
	padding: 3px;
	color: #fff;
}


.property__description ul > li:last-child::after {
	display: none;
}
.property__description ul > li::after {
	color: #fff;
	content: "|";
	font-size: 14px;
	top: -1px;
	left: 4px;
	position: relative;
}


.property__description p {
	font-size: 14px;
	padding: 15px 0;
	text-align: justify;
	color: #000;
}

.property__description p:hover {
	text-decoration: underline;
}

.property__description .property__description-city {
	padding-bottom: 0;
	min-height: 60px;
}

/*Property -  three cols*/


.universal_line-wrapper.three__cols a:hover {
	cursor: pointer;
	text-decoration: none;
}


.universal_line-wrapper.three__cols > .universal__cell {
	width: 32.1%;
	display: inline-block;
	vertical-align: top;
	min-width: 260px;
}

.universal_line-wrapper.three__cols > .universal__cell:nth-child(3n) {
	margin-right: 0;
}


/*labels*/

.property__image .label__icon--small {
	background-color: rgba(230, 0, 0, 0.8);
	border-radius: 3px 0;
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	padding: 5px 15px;
	position: absolute;
}

.label__icon--small.icon--green {
	background-color: rgba(148, 202, 76, 0.8);
}

.label__icon--small.icon--blue {
	background-color: rgba(0, 151, 214, 0.8);
}

.label__icon--small.label__icon--right {
	background-color: #0092cc;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.label__icon--small.label__icon--right {
	border-radius: 0 3px;
}
.label__icon--right {
	right: 0;
}
.label__icon--small.label__icon--right:hover {
	cursor: pointer;
	transition: all 0.7s ease 0s;
}

/*Breadcrumbs*/

.universal-wrapper.breadcrumbs-block-wrapper {
	background-color: #efefef;
	border-bottom: 1px solid #d5d9dd;
	padding: 0;
}
.universal-wrapper.breadcrumbs-block-wrapper > .universal-wrapper--inner {
	padding: 2px 0;
}
.universal-wrapper.breadcrumbs-block-wrapper ul > li {
	display: inline-block;
	font-size: 13px;
	list-style: outside none none;
	padding: 0 5px;
}
	
.universal-wrapper.breadcrumbs-block-wrapper ul > li:first-child {
	padding-left: 0;
}


.universal-wrapper.breadcrumbs-block-wrapper ul > li:last-child {
	font-weight: bold;
	color: #0c82ba;
	
}

.universal-wrapper.breadcrumbs-block-wrapper ul > li::after {
	content: ">";
	font-size: 11px;
	left: 6px;
	position: relative;
	color: #878c92;
}
	

.universal-wrapper.breadcrumbs-block-wrapper ul > li:last-child::after {
	content: none;
}

.universal-wrapper.breadcrumbs-block-wrapper ul > li > a {
	color: #878c92;
}
.universal-wrapper.breadcrumbs-block-wrapper ul > li > a:hover {
	text-decoration: none;
}




/*TABS*/



.tabs {
	margin: 20px 0 0 20px;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 20;
}	

#tab1 {
	position:relative;
	z-index:5;}
#tab2 {
	position:relative;
	z-index:4;}
#tab3 {
	position:relative;
	z-index:3;}
	
.tabs li {
	background-color: #efefef;
	border: 1px solid #d5d9dd;
	box-sizing: border-box;
	color: #878c92;
	display: inline-block;
	list-style: outside none none;
	padding: 2px 8px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 3px;
}	

.tabs > .current {
	background-color: #0c82ba;
	color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

	
.tabs-content {
    width:960px;
    overflow:hidden;
}

.tabs-content ul li {
    width:1000px;
    height:300px;
}
.box {  
	max-height: 480px;
	min-height: 430px;
	display: none; /* по умолчанию прячем все блоки */ 
	overflow: hidden;
    }  

.box.visible {  
    display: block; /* по умолчанию показываем нужный блок */  
    }  


/*Lists*/



.layout__col-half .list__checked-icon {
	padding-left: 0;
	margin-bottom: 10px;
}

.list__checked-icon li {
	list-style: none;
}

.list__checked-icon li p {
	display: inline-block;
	width: 80%;
	vertical-align: top;
	margin-left: 1%;
	padding-top: 0;
}

.list__checked-icon li i {
	vertical-align: top;
	margin-top: 5px;
}

.list__checked-icon li:hover,
.list__checked-icon li:hover p,
.list__checked-icon li:hover a {
	color: #0092cc;
}

.list__checked-icon li a {
	color: #707070;
}

/*Testimonials*/

.testimonials-wrapper > .title__border-bottom {
	margin-bottom: 5px;
}

.testimonial-wrapper {
	clear: both;
	border-bottom: 1px dashed rgba(0, 151, 214, 0.8);
	padding: 15px 0;
}

.testimonial__image {
	background-position: center center;
	border-radius: 50%;
	display: block;
	height: 100px;
	width: 45%;
	max-width: 100px;
	float: left;
	margin-right: 20px;
}

.testimonial__description {
	display: inline-block;
	text-align: left;
	width: 86%;
	vertical-align: top;
}
.testimonial__description h4{
	text-align: left;
}

.testimonial__description p {
}

.testimonials-wrapper {
	clear: both;
	margin-bottom: 30px;
}



/*Colored lines*/

.colored__line.colored__line--blue {
	background-color: rgba(0, 151, 214, 0.8);
	color: #fff;
}
.colored__line.colored__line--blue h1,
.colored__line.colored__line--blue a {
	color: #fff;
	text-align: center;
}
.colored__line.colored__line--blue a {
	font-weight: 800;
}

/*Footer*/ 

.footer-block-wrapper {
	background-color: #252525;
	padding-bottom: 0;
}

.background-shadow {
}

footer img.logo_footer {
	max-width: 200px;
	display: block;
	padding-bottom: 7px;
}

.universal__cell.footer {
	margin: 0 10px 15px;
}


.universal__cell.footer h2 {
	color: #fff;
	font-size: 25px;
	padding-bottom: 10px;
}

.footer-block-wrapper > .universal-wrapper--inner {
	padding-bottom: 0;
}


.copyright-wrapper {
	background-color: rgba(0,0,0,0.2);
}
.copyright-wrapper > .universal-wrapper--inner {
	padding: 10px 0;
}

.copyright-wrapper > .universal-wrapper--inner span {
	display: block;
	font-size: 14px;
	text-align: center;
}

/*Search Result*/

.search__result-wrapper {
	padding: 15px 0;
	border-bottom: 1px dashed #94ca4c;
}
.search__result-wrapper h4 {
	color: #0c82ba;
}