.title__border-bottom {
	border-bottom: 1px dashed #94ca4c;
	padding: 15px 0;
}

.universal-wrapper.content-block-wrapper {
	padding: 0;
}



.universal-wrapper.content-block-wrapper > .universal-wrapper--inner {
}



article ul {
	padding-left: 35px;
}


/*4 cols property main*/

.universal_line-wrapper.four__cols a:hover {
	text-decoration: none;
}

.universal_line-wrapper.four__cols {
	text-align: center;
	padding: 30px 0;
}


.universal__cell.property {
	display: inline-block;
	vertical-align: top;
	width: 24.7%;   
	padding: 0 20px;
	text-align: justify;
	min-width: 260px;
	margin-bottom: 30px;
}



.property__image {
	border-radius: 3px 3px 0 0;
	max-height: 180px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.property__image img {
	display: block;
	width: 100%;
}


.property__info-line {
	background-color: rgba(0, 151, 214, 0.8);
	color: #fff;
	margin-top: -30px;
	padding: 0 10px;
	position: relative;
	z-index: 25;
}

.property__info-line p {
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.property__description ul {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 0 0 3px 3px;
}

.property__description ul > li {
	display: inline-block;
	list-style: none;
	font-size: 15px;
	padding: 3px;
	color: #fff;
}


.property__description ul > li:last-child::after {
	display: none;
}
.property__description ul > li::after {
	color: #fff;
	content: "|";
	font-size: 13px;
	left: 4px;
	position: relative;
}


.property__description p {
	font-size: 14px;
	padding: 15px;
	text-align: center;
	color: #000;
}

.property__description p:hover {
	text-decoration: underline;
}



/*labels*/

.property__image .label__icon--small {
	background-color: rgba(230, 0, 0, 0.8);
	border-radius: 3px 0;
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	padding: 5px 15px;
	position: absolute;
}

.label__icon--small.icon--green {
	background-color: rgba(148, 202, 76, 0.8);
}

.label__icon--small.icon--blue {
	background-color: rgba(0, 151, 214, 0.8);
}