select {
  -webkit-appearance: none;
  background-image: url('../images/arrow.png');
  background-position: right 12px center;
  background-repeat: no-repeat;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*Search Form Main*/

.form, 
.search_form-main {
	width: 100%;
}

.form > .universal_line-wrapper {
	text-align: left;
	width: 100%;
	display: table;
	padding: 5px 0;
}

.form > .universal_line-wrapper.universal_line-wrapper--short {
	width: 49.5%;
	display: inline-block;
	vertical-align: top;
}
.form > .universal_line-wrapper.universal_line-wrapper--short:nth-child(2n) {
	float: right;
}

.universal_cell-wrapper {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
.form > .universal_line-wrapper .universal_cell-wrapper:last-child {
	float: right;
	text-align: right;
}


.universal_line-wrapper.universal_line-wrapper--three-cells > .universal_cell-wrapper {
	width: 33%;
}



.universal_line-wrapper input,
.universal_line-wrapper select,
.universal_line-wrapper textarea { 
	background-color: #fff;
	border: 1px solid #b3b3b3;
	color: #707070;
	display: inline-block;
	padding: 10px;
	text-align: center;
	vertical-align: top;
	width: 100%;
	border-radius: 2px;
}

.universal_line-wrapper textarea {
	resize: none;
}

.universal_line-wrapper select {
	padding: 10px 30px 10px 10px;
}

.form .universal_line-wrapper span{
	display: block;
	padding-bottom: 5px;
	width: 100%;
}

.universal_line-wrapper .universal_cell-wrapper input,
.universal_line-wrapper .universal_cell-wrapper select,
.universal_line-wrapper .universal_cell-wrapper textarea {
	width: 100%;
	vertical-align: top;
}


.search_form--small {
	max-width: 330px !important;
	display: block;
}
.search_form--small .universal_line-wrapper input,
.search_form--small .universal_line-wrapper select,
.search_form--small .universal_line-wrapper textarea {
	width: 100%;
	vertical-align: top;
	font-size: 14px;
	padding: 7px;
}

.search_form--small .universal_line-wrapper select {
	padding-right: 40px;
}


/*
.search_form-inner.search_form--wide {
	text-align: center;
	
}

.search_form-inner.search_form--wide .universal_line-wrapper input,
.search_form-inner.search_form--wide .universal_line-wrapper select,
.search_form-inner.search_form--wide .universal_line-wrapper textarea {
	width: 100%;
	vertical-align: top;
	font-size: 14px;
	padding: 7px;
}


.search_form-inner.search_form--wide .universal_line-two-cols {
	width: 25%;
}

.universal__row-wrapper {
	width: 100%;
	display: table;
	padding: 5px 0;
}
.universal__row-wrapper  .universal_line-wrapper {
	display: table-cell;
	vertical-align: top;
	padding-right: 20px;
	width: 25%;
}

.universal__row-wrapper  .universal_line-wrapper:first-child {
	width: 45%;
	
}

.universal__row-wrapper  .universal_line-wrapper:last-child {
	padding-right: 0;
}


.form .universal__row-wrapper  .universal_line-wrapper .universal-button {
	padding: 10px;	
}

*/


.search_form-inner.search_form--wide {
	text-align: center;
	
}

.search_form-inner.search_form--wide .universal_line-wrapper {
	padding: 5px 0;
}
.search_form-inner.search_form--wide .universal_line-wrapper input,
.search_form-inner.search_form--wide .universal_line-wrapper select,
.search_form-inner.search_form--wide .universal_line-wrapper textarea {
	width: 100%;
	vertical-align: top;
	font-size: 14px;
	padding: 7px;
}

.universal__row-wrapper {
	width: 100%;
	display: table;
	padding: 5px 0;
}
.universal__row-wrapper .search__col {
	display: table-cell;
	width: 25%;
	padding-right: 20px;
}

.universal__row-wrapper .search__col:last-child {
	padding-right: 0;
}

.universal__row-wrapper .search__col.search_col--wide {
	width: 45%;
}