/*Header Menu*/

.header-menu {
	position: relative;
	z-index: 30000;
}
.header-menu ul > li {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
	position: relative;
}

.header-menu ul > li:first-child > a {
	padding-left: 0;
}

.header-menu ul > li:last-child > a {
	padding-right: 0;
}

.header-menu ul > li > a {
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    text-decoration: none;
    z-index: 3;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.header-menu ul > li > a:hover,
.header-menu ul > li > a:active,
.header-menu ul > li.current-menu-item > a,
.header-menu ul > li.current-menu-parent > a,
.header-menu ul > li.current-post-ancestor > a  {
	color: #0092cc;
}

.header-menu ul  > li > ul {
	display: none;
}

.header-menu ul > li:hover > ul {
	display: block;
	position: absolute;
	background-color: #fff;
	min-width: 225px;
	max-width: 230px;
	text-align: left;
	box-sizing: border-box;
	border-top: 2px solid #0092cc; 
}

.header-menu ul > li > ul > li {
	list-style: none;
	border-bottom: 1px solid #0092cc; 
	padding: 3px 15px;
	display: block;
}

.header-menu ul  > li > ul > li > a {
	color: #000;
	text-transform: none;
	padding: 0;
	font-size: 16px;
}

.header-menu ul > li > ul > li > a {
	font-weight: 400;
	text-transform: none;

}

.header-menu ul > li > ul > li:hover {
	background-color: #0092cc; 
}

.header-menu ul > li > ul > li:hover > a {
	color: #fff;
}

.header-menu ul > li > ul > li.menu-item-has-children > a:after {
	content: '»';
	padding-left: 10px;
	position: absolute;
	right: 5px;
}

.header-menu ul > li > ul > li > ul.sub-menu {
	left: 100%;
	position: absolute;
	top: -1px;
	border-top: 1px solid #0092cc; 
	z-index: 28;
}



/*Mobile Menu*/

#menu-mobile { 
	display: none;
}


nav.menu-mobile a, nav.menu-mobile:before, nav.menu-mobile div:before {
	display: inline-block;
	padding: 10px 20px;
	color: #707070;
	text-align: left;
	cursor: pointer; /* курсор в виде руки, обязателен для Opera Mini */
	background: #d4d4d4; /* цвет фона кнопки "меню" */
}
nav.menu-mobile ul {
    padding: 0;
    margin: 0;
}
nav.menu-mobile ul li {
    list-style: none;
}
nav.menu-mobile li a {
	width: 100%; 
	background-color: #fff; /* фон пунктов меню */
	text-decoration: none;
	text-transform: capitalize;
	border-bottom: 1px solid #d5d9dd;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}
nav.menu-mobile a:hover {
	background: #0092cc; /* фон пунктов при наведении */
	color: #fff;
}


nav.menu-mobile ul > li > ul > li {
	list-style: none;
}

nav.menu-mobile ul > li > ul > li > a {
	padding: 10px 50px;	
}

nav.menu-mobile ul > li > ul > li > a:before {
	content: "-";
	padding-right: 5px;
}


nav.menu-mobile ul > li > ul > li > ul.sub-menu > li > a {
	padding-left: 70px;
}
nav.menu-mobile ul > li > ul > li > ul.sub-menu > li > a:before {
	content: "--";
	padding-right: 5px;
}
