 /*Main Tools*/

.col--left {
	display: inline-block;
	float: left;
	max-width: 315px;
	min-width: 150px;
	vertical-align: top;
	width: 45%;
	margin-top: 15px;
}


.col--right {
float: right;
margin-top: 15px;
max-width: 642px;
min-width: 150px;
text-align: right;
vertical-align: top;
width: 50%;
}

.col--left .universal_cell-wrapper {
	margin-right: 10px;
	width: 45%;
}

.col--left select {
	font-size: 14px;
	padding: 7px 40px 7px 7px;
	vertical-align: top;
	width: 100%;
	opacity: 0.8;
	cursor: pointer;
}



.two_cols ul.pagintaion li {
	font-size: 14px;
	margin-right: 5px;
	padding: 5px 12px;
}

.col--right ul li {
	list-style: none;
	display: inline-block;
	padding: 5px 15px;
	border: 1px solid #d5d9dd;
	border-radius: 3px;
	margin-right: 10px;
	
}
.col--right ul li:last-child {
	margin-right: 0;
}

.col--right ul li:hover,
.col--right ul li.current {
	color: #0092cc;
	border: 1px solid #0092cc;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.col--right ul li.separator {
	border: medium none;
	padding: 0;
	vertical-align: bottom;
	color: #0092cc;
}

.col--right ul li.next,
.col--right ul li.previous {
	border: none;
	padding: 0;
}
.col--right ul li.next:hover,
.col--right ul li.previous:hover {
	cursor: none;
}