 /*Main Tools*/

.col--left {
	display: inline-block;
	float: left;
	max-width: 315px;
	min-width: 150px;
	vertical-align: top;
	width: 45%;
}


.col--right {
	float: right;
	max-width: 642px;
	min-width: 150px;
	text-align: right;
	vertical-align: top;
	width: 50%;
}


.col--left .universal_line-wrapper {
	margin-top: 10px;
}

.col--left .universal_cell-wrapper {
	margin-right: 10px;
	width: 45%;
}

.col--left select {
	font-size: 14px;
	padding: 7px 40px 7px 7px;
	vertical-align: top;
	width: 100%;
	opacity: 0.8;
	cursor: pointer;
}


.two_cols ul.pagintaion li {
	font-size: 14px;
	margin-right: 5px;
	padding: 5px 12px;
}

.col--right ul li {
	list-style: none;
	display: inline-block;
	padding: 5px 15px;
	border: 1px solid #d5d9dd;
	border-radius: 3px;
	margin-right: 10px;
	margin-top: 10px;
	background-color: #fff;
	
}
.col--right ul li a {
	color: #707070;
	
}
.col--right ul li:last-child {
	margin-right: 0;
}

.col--right ul li:hover,
.col--right ul li.current {
	color: #0092cc;
	border: 1px solid #0092cc;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}


.col--right ul li.current a {
	color: #0092cc;	
}
.col--right ul li:hover a {
	color: #0092cc;
	text-decoration: none;
}

.col--right ul li.separator {
	border: medium none;
	padding: 0;
	vertical-align: bottom;
}

.col--right ul li.next,
.col--right ul li.previous {
}
.col--right ul li.separator:hover {
	cursor: none;
	color: #0092cc;
}